In [80]:
# Import dependencies
import pandas as pd
import numpy as np

In [81]:
# Create a set of random latitude and longitude combinations
lats = np.random.uniform(-90, 90, size=2000)
lngs = np.random.uniform(-180, 180, size=2000)
lat_lngs = zip(lats, lngs)

In [82]:
from citipy import citipy

In [83]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [84]:
cities = []
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    if city not in cities:
        cities.append(city)
        
len(cities)

744

In [85]:
# Import the requests library.
import requests

# Import the API key.
from config import new_weather_api_key

In [86]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + new_weather_api_key

In [87]:
# Create an empty list to hold the weather data
city_data = []

In [88]:
# Loop through all the cities in the list.
for city in cities:
        
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_description = city_weather["weather"][0]["description"]
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                        "Country": city_country,
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Current Description": city_description})
        
    except:
        pass

In [89]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,New Norfolk,AU,-42.78,147.06,55.40,71,75,1.12,broken clouds
1,Busselton,AU,-33.65,115.33,64.00,30,0,11.25,clear sky
2,Avarua,CK,-21.21,-159.78,71.60,83,100,3.36,overcast clouds
3,Tura,IN,25.52,90.22,73.78,95,0,3.42,clear sky
4,Yellowknife,CA,62.46,-114.35,16.00,85,90,8.05,light snow
5,Albany,US,42.60,-73.97,44.01,90,100,1.07,overcast clouds
6,Souillac,MU,-20.52,57.52,72.00,72,52,8.99,light rain
7,Deoria,IN,26.50,83.79,77.49,33,0,4.38,clear sky
8,Baherden,TM,38.44,57.43,60.39,26,75,13.94,broken clouds
9,Faanui,PF,-16.48,-151.75,79.66,76,42,9.26,light rain

In [ ]:
# Create a new output file (CSV)
output_data_file = 'weather_database/cities.csv'

# Export city data into a csv
city_data_df.to_csv(output_data_file, index_label='City ID')